.bb {
    display: flex;
    justify-content: center;
}

.forms {
    width: 1000px;
    background: #606C38;
    padding: 20px;
    border: 2px solid #606C38;
    text-align: center;
    margin: 0 auto;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5); 
    margin-bottom: 25px;
}

.legend, .name, .email, .radio1, .radio2, .radio3, .radio4, .subscribe, .texterea, .sla {
    font-family: 'Alata', sans-serif;
    color: whitesmoke;
    font-size: 1.3rem;
}

.map-container p {
    font-weight: bold;
    margin-bottom: 10px;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 20px;
}

.submit button {
    background-color: #eae6e5; 
    color: black; 
    font-size: 20px; 
    font-weight: bold;
    padding: 15px 30px; 
    border: none;
    cursor: pointer;
    border-radius: 8px;
    display: block;
    margin: 20px auto; 
    text-transform: uppercase; 
    font-family: 'Alata', sans-serif;
}

.submit button:hover {
    background-color: #568259; 
    transform: scale(1.1);
}

.texterea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.texterea label {
    display: inline-block;
    margin-right: 10px; 
    font-weight: bold;
    vertical-align: middle; 
}

#specific_question {
    width: 80%; 
    max-width: 600px; 
    height: 100px; 
    border: 2px solid black; 
    padding: 10px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}

.pictures {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 20px;
}

.pictures .picture-item {
    text-align: center;
}

.pictures img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.5) ;
}

.pictures p {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    color: black;
}

.map-container {
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

.maps {
    width: 400px;
    height: 300px;
}

.team {
    display: flex;
    justify-content: center;
}

.gambino {
    display: flex;
    justify-content: center;
}

.adress {
    display: flex;
    justify-content: center;
    font-family: 'Aoboshi One', sans-serif;
}

.wireframe-link {
    color: white;
    padding: 10px;
}